// eslint-disable
<!DOCTYPE html>
<html lang="en" style="margin: 0;padding: 0;box-sizing: border-box;">
<head style="margin: 0;padding: 0;box-sizing: border-box;">
    <meta charset="UTF-8" style="margin: 0;padding: 0;box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="margin: 0;padding: 0;box-sizing: border-box;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" style="margin: 0;padding: 0;box-sizing: border-box;">
    <title style="margin: 0;padding: 0;box-sizing: border-box;">Email</title>
</head>
<body style="margin: 0;padding: 0;box-sizing: border-box;font-size: 62.5%;font-family: &quot;Comic Sans MS&quot;, &quot;Comic Sans&quot;, cursive;">
<div class="container" style="margin: 0;padding: 1rem 0;box-sizing: border-box;height: 100%;width: 100%;background-color: #ebebeb;">
    <p class="primary_title" style="margin: 0;padding: 0.4rem;box-sizing: border-box;font-family: inherit;font-size: 1rem;color: #777;text-align: center;">We Care About your's Sequrity</p>
    <p class="secondary_title" style="margin: 0;padding: 0.4rem;box-sizing: border-box;font-size: 0.8rem;text-align: center;">We apriciate that you trust us your's sensetiv data. And we want to remind you, thet you and only you is last line of defens, to protect your data </p>
    <p class="secondary_title" style="margin: 0;padding: 0.4rem;box-sizing: border-box;font-size: 0.8rem;text-align: center;">So, please shenge  your's password</p>
    <p class="secondary_title" style="margin: 0;padding: 0.4rem;box-sizing: border-box;font-size: 0.8rem;text-align: center;">On</p>
    <div class="btn_container" style="margin: 0;padding: 0.4rem 0;box-sizing: border-box;display: block;width: 100%;text-align: center;">
        <a class="btn" href="{{data.site}}" style="margin: 20px auto;padding: 0.5rem 1rem;box-sizing: border-box;text-align: center;text-decoration: none;color: #cccccc;background-color: rgb(103, 103, 104);border-radius: 2px;outline: none;">This Sait</a>
    </div>
    <p class="secondary_title" style="margin: 0;padding: 0.4rem;box-sizing: border-box;font-size: 0.8rem;text-align: center;">And dont forget to change it at ower servise</p>
    <div class="btn_container" style="margin: 0;padding: 0.4rem 0;box-sizing: border-box;display: block;width: 100%;text-align: center;">
        <a class="btn" href="{{data.we}}" style="margin: 20px auto;padding: 0.5rem 1rem;box-sizing: border-box;text-align: center;text-decoration: none;color: #cccccc;background-color: rgb(103, 103, 104);border-radius: 2px;outline: none;">This Sait</a>
    </div>

</div>



</body>
</html>
// eslint-enable
