<!DOCTYPE html>
<html lang="en" style="margin: 0;padding: 0;box-sizing: border-box;">
<head style="margin: 0;padding: 0;box-sizing: border-box;">
    <meta charset="UTF-8" style="margin: 0;padding: 0;box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="margin: 0;padding: 0;box-sizing: border-box;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" style="margin: 0;padding: 0;box-sizing: border-box;">
    <title style="margin: 0;padding: 0;box-sizing: border-box;">Document</title>
    <style style="margin: 0;padding: 0;box-sizing: border-box;">
    </style>
</head>
<body style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;">
<div class="container" style="margin: 0 auto;padding: 22px;box-sizing: border-box;width: 80%;height: auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-color: rgba(100, 100, 100, 0.212);border-radius: 3px;box-shadow: 5px 15px 25px rgba(0,0,0, 0.8);">
    <p class="left" style="margin: 0;padding: 5px;box-sizing: border-box;text-align: left;color: #555555;font-size: 20px;"><strong style="margin: 0;padding: 0;box-sizing: border-box;">Hi there, </strong>{{data.userEmail}}</p>
    <p style="margin: 0;padding: 5px;box-sizing: border-box;text-align: center;color: #555555;">We - team of <strong style="margin: 0;padding: 0;box-sizing: border-box;">Passpoer App</strong> want to inform you </p>
    <p style="margin: 0;padding: 5px;box-sizing: border-box;text-align: center;color: #555555;">that user <strong style="margin: 0;padding: 0;box-sizing: border-box;">{{data.acountOwner}}</strong> share some passwords</p>
    <p style="margin: 0;padding: 5px;box-sizing: border-box;text-align: center;color: #555555;">please check it  follow the link below</p>
    <p class="arrow" style="margin: 0;padding: 5px;box-sizing: border-box;text-align: center;color: #555555;font-size: 24px;">&darr;</p>
    <div class="btn-container" style="margin: 0;padding: 5px;box-sizing: border-box;text-align: center;"><a class="btn" href="{{data.site}}" style="margin: 0;padding: 5px 10px;box-sizing: border-box;text-decoration: none;background-color: rgb(90, 120, 204);border-radius: 3px;color: #c7c7c7;box-shadow: 2px 4px 10px rgba(0,0,0, 0.8);animation: all  0.2s;">Click Here</a></div>
</div>
</body>
</html>